<footer class="footer">
  <p>UI styling derived from the <a href="https://gitlab.com/antora/antora-ui-default" title="Antora default UI">Antora default UI</a>.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
  <p>Copyright &copy; 2022-present The Open Group</p>
</footer>
