    {{#with site.keys.googleAnalytics}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{this}}"></script>
    <script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{this}}')</script>
    {{/with}}
    <script>var uiRootPath = '{{{uiRootPath}}}'</script>
    <script src="{{{uiRootPath}}}/js/vendor/gitlab-integration.js"></script>
