<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}/index.html">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="What are you looking for?"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://www.opengroup.org/about-us" target="_blank">About Us</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.opengroup.org/about-us/who-we-are" target="_blank">Who We Are</a>
            <a class="navbar-item" href="https://www.opengroup.org/about-us/what-we-do" target="_blank">What We Do</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://www.opengroup.org/membership" target="_blank">Membership</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://www.opengroup.org/member-newsletters" target="_blank">Member Newsletters</a>
            <a class="navbar-item" href="https://www.opengroup.org/membership/forum-consortia-newsletters" target="_blank">Forum/Consortium Newsletters</a>
            <a class="navbar-item" href="https://www.opengroup.org/memberspotlight" target="_blank">Member Spotlights</a>
            <a class="navbar-item" href="https://www.opengroup.org/membership" target="_blank">Become a Member</a>
            <a class="navbar-item" href="https://www.opengroup.org/membership-list" target="_blank">Membership List</a>
            <a class="navbar-item" href="http://www.opengroup.org/standardsprocess/" target="_blank">Standards Process</a>
            <a class="navbar-item" href="https://www.opengroup.org/company-reviews" target="_blank">Company Reviews (Member login required)</a>
            <a class="navbar-item" href="https://collaboration.opengroup.org/operational/portal.php" target="_blank">Members Collaboration Portals [Login]</a>
            <a class="navbar-item" href="https://www.opengroup.org/contribution-awards" target="_blank">Contribution Awards</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://publications.opengroup.org/" target="_blank">Library</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://publications.opengroup.org/standards" target="_blank">Standards</a>
            <a class="navbar-item" href="https://publications.opengroup.org/certifications" target="_blank">Certifications</a>
            <a class="navbar-item" href="https://publications.opengroup.org/guides" target="_blank">Guides</a>
            <a class="navbar-item" href="https://publications.opengroup.org/data-sheets" target="_blank">Data Sheets</a>
            <a class="navbar-item" href="https://publications.opengroup.org/webinars" target="_blank">Webinars</a>
            <a class="navbar-item" href="https://publications.opengroup.org/white-papers" target="_blank">White Papers</a>
            <a class="navbar-item" href="https://publications.opengroup.org/archimate-library" target="_blank">ArchiMate® Library</a>
            <a class="navbar-item" href="https://publications.opengroup.org/dpbok-library" target="_blank">DPBoK™ Library</a>
            <a class="navbar-item" href="https://publications.opengroup.org/it4it-library" target="_blank">IT4IT™ Library</a>
            <a class="navbar-item" href="https://publications.opengroup.org/security-library" target="_blank">Security Library</a>
            <a class="navbar-item" href="https://publications.opengroup.org/togaf-library" target="_blank">TOGAF® Library</a>
            <a class="navbar-item" href="https://publications.opengroup.org/sort-by-subject" target="_blank">More Subject Areas</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{site.url}}/support/latest/digital-portfolio-help/homepage.html" target="_parent">Help Center</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="{{site.url}}/support/latest/digital-portfolio-help/site-navigation.html" target="_parent">How to Use "The Digital Portfolio"</a>
            <a class="navbar-item" href="{{site.url}}/support/latest/gitlab-help/gitlab-intro.html" target="_parent">How to Use Members GitLab</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="{{site.url}}/{{page.component.name}}/{{page.version}}/{{slug page.component.title}}.pdf" target="_blank">Download PDF</a>
          </span>
        </div>        
      </div>
    </div>
  </nav>
</header>
