<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
{{> breadcrumbs}}
{{> page-versions}}
  {{#if page.createIssueUrl}}
  <div class="issue-for-this-page"><a href="{{page.createIssueUrl}}&issue[description]=%23%23%20PAGE%20OUTPUT%0A{{site.url}}{{page.url}}" target="_blank"></a></div>
  {{/if}}
  {{#if (and page.fileUri (not env.CI))}}
  <div class="edit-this-page"><a href="{{page.fileUri}}" target="_blank"></a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  <div class="issue-list"><a href="{{ issueListUrl page.createIssueUrl }}" target="_blank"></a></div>
  <div class="issue-boards"><a href="{{ issueBoardsUrl page.createIssueUrl }}" target="_blank"></a></div>  
  <div class="edit-this-page"><a href="{{page.editUrl}}" target="_blank"></a></div>
  {{/if}}
  <div class="help-center"><a href="{{site.url}}/support/latest/digital-portfolio-help/homepage.html" target="_blank"></a></div> 
  <div class="gitlab-login"
       data-client-id="{{site.keys.gitlabClientId}}"
       data-url="{{site.keys.gitlabUrl}}"
       data-redirect-url="{{site.url}}"
  ></div>
</div>
