footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(11.25 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 0.75rem;
}

.footer p {
  margin: 0.1em;
}

.footer a {
  color: var(--footer-link-font-color);
}
