.toolbar {
  color: var(--toolbar-font-color);
  align-items: center;
  background-color: var(--toolbar-background);
  box-shadow: 0 1px 0 var(--toolbar-border-color);
  display: flex;
  font-size: calc(15 / var(--rem-base) * 1rem);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
}

.toolbar a {
  color: inherit;
}

.nav-toggle {
  background: url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 49%;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  height: var(--toolbar-height);
  width: var(--toolbar-height);
  margin-right: -0.25rem;
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 41.5%;
}

.home-link {
  display: block;
  background: url(../img/home-o.svg) no-repeat center;
  height: calc(var(--toolbar-height) / 2);
  width: calc(var(--toolbar-height) / 2);
  margin: calc(var(--toolbar-height) / 4);
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home.svg);
}

.toolbar .edit-this-page {
  margin-right: 0.7rem;
}

.toolbar .edit-this-page a {
  background: url(../img/edit-button2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  color: var(--toolbar-muted-color);
  height: 1rem;
  width: 1rem;
  border-color: var(--body-font-color);
}

.edit-this-page a {
  position: relative;
}

.edit-this-page a:hover::after {
  content: "Edit Page";
  font-size: calc(16 / var(--rem-base) * 1rem);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  background: var(--toolbar-muted-color);
  border: 1px solid var(--navbar-button-border-color);
  box-shadow: 7px 7px 7px gray;
  border-radius: 0.15rem;
  height: 1.75em;
  padding: 0 0.75em;
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
}

.toolbar .issue-for-this-page {
  margin-right: 0.7rem;
}

.toolbar .issue-for-this-page a {
  background: url(../img/cr-and-public-feedback-buton.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 1rem;
  width: 1rem;
}

.issue-for-this-page a {
  position: relative;
}

.issue-for-this-page a:hover::after {
  content: "Submit Issue";
  font-size: calc(16 / var(--rem-base) * 1rem);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  background: var(--toolbar-muted-color);
  border: 1px solid var(--navbar-button-border-color);
  box-shadow: 7px 7px 7px gray;
  border-radius: 0.15rem;
  height: 1.75em;
  padding: 0 0.75em;
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
}

.toolbar .gitlab-login {
  margin-right: 0.7rem;
  flex: none;
  display: flex;
}

.toolbar .gitlab-login .login-button {
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  color: var(--navbar-button-font-color);
  border-radius: 0.25em;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

.toolbar .gitlab-login .login-button:hover {
  background: var(--navbar-button_hover-background);
}

.toolbar .public-feedback {
  margin-right: 0.7rem;
}

.toolbar .public-feedback a {
  background: url(../img/cr-and-public-feedback-buton.svg);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--toolbar-muted-color);
  height: 1rem;
  width: 1rem;
}

.public-feedback a {
  position: relative;
}

.public-feedback a:hover::after {
  content: "Submit Feedback";
  font-size: calc(16 / var(--rem-base) * 1rem);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  background: var(--toolbar-muted-color);
  border: 1px solid var(--navbar-button-border-color);
  box-shadow: 7px 7px 7px gray;
  border-radius: 0.15rem;
  height: 1.75em;
  padding: 0 0.75em;
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
}

.toolbar .issue-list {
  margin-right: 0.7rem;
}

.toolbar .issue-list a {
  background: url(../img/issue-list.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  color: var(--toolbar-muted-color);
  height: 1rem;
  width: 1rem;
}

.issue-list a {
  position: relative;
}

.issue-list a:hover::after {
  content: "Open Issues";
  font-size: calc(16 / var(--rem-base) * 1rem);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  background: var(--toolbar-muted-color);
  border: 1px solid var(--navbar-button-border-color);
  box-shadow: 7px 7px 7px gray;
  border-radius: 0.15rem;
  height: 1.75em;
  padding: 0 0.75em;
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
}

.toolbar .issue-boards {
  margin-right: 0.7rem;
}

.toolbar .issue-boards a {
  background: url(../img/issue-boards.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  color: var(--toolbar-muted-color);
  height: 1.2rem;
  width: 1.2rem;
}

.issue-boards a {
  position: relative;
}

.issue-boards a:hover::after {
  content: "Issue Boards";
  font-size: calc(16 / var(--rem-base) * 1rem);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  background: var(--toolbar-muted-color);
  border: 1px solid var(--navbar-button-border-color);
  box-shadow: 7px 7px 7px gray;
  border-radius: 0.15rem;
  height: 1.75em;
  padding: 0 0.75em;
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
}

.toolbar .help-center {
  margin-right: 0.7rem;
}

.toolbar .help-center a {
  background: url(../img/help-center-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  color: var(--toolbar-muted-color);
  height: 1rem;
  width: 1rem;
}

.help-center a {
  position: relative;
}

.help-center a:hover::after {
  content: "Need Help?";
  font-size: calc(16 / var(--rem-base) * 1rem);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  background: var(--toolbar-muted-color);
  border: 1px solid var(--navbar-button-border-color);
  box-shadow: 7px 7px 7px gray;
  border-radius: 0.15rem;
  height: 1.75em;
  padding: 0 0.75em;
  position: absolute;
  top: calc(100% + 0.25em);
  right: 0;
}

.toolbar .gitlab-login .avatar {
  border: 1px solid var(--navbar-button-border-color);
  width: 2em;
  height: 2em;
  border-radius: 1em;
  cursor: pointer;
}
